<%= form_with model:[@article, @article.comments.build], local: true do |form| %>
  <div id="comment-error" style="color: red;">
    <% if @comment && @comment.errors.any? %>
      <%= pluralize(@comment.errors.count, "error") %>
      prevented comments from saving:
      <ul>
        <% @comment.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    <% end %>
  </div>
  <p>
    <%= form.label :commenter %><br/>
    <%= form.text_field :commenter %>
  </p>
  <p>
    <%= form.label :body %><br/>
    <%= form.text_area :body %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>